venv_docs
_build
repos
.DS_Store

# subrepos
sdran-in-a-box
onos-operator
onos-e2t
onos-e2-sm
onos-api
onos-ric-sdk-go
onos-kpimon
onos-pci
onos-config
onos-topo
onos-uenib
onos-cli
onos-exporter
onos-mlb
onos-mho
onos-rsm
onos-proxy
ran-simulator
openairinterface5g
onos-ric-python-apps
onos-ric-sdk-py

