# SPDX-FileCopyrightText: © 2020 Open Networking Foundation <support@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

Sphinx~=8.1
doc8~=1.1.2
docutils~=0.20.2
reuse~=4.0.3
sphinx-rtd-theme~=3.0.1
sphinxcontrib-spelling~=8.0.0
sphinx-multiversion~=0.2.4
myst-parser~=0.17.0
