Sphinx~=3.3.1
doc8~=0.8.1
docutils==0.16
myst-parser~=0.12.10
reuse~=0.11.1
sphinx-rtd-theme~=0.5.0
sphinxcontrib-spelling~=7.1.0
git+https://github.com/zdw/sphinx-multiversion@ec7c01cdaf2f9241245e84483dfb9bc0d0dffc62
