# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Main workflow

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  doc8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - run: make doc8

  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - run: make spelling

  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - run: make linkcheck

  license-check:
    uses: onosproject/.github/.github/workflows/license-check.yml@main

  fossa-check:
    uses: onosproject/.github/.github/workflows/fossa-scan.yml@main
